:root{
  --color-background: #221407;
  --color-yellow: #f0c600;
  --color-red: #d42c05;
  --color-blue: #1780af;
}
*{
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  list-style-type: none;
  /* border: 2px solid green; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App{
  width: 100vw;
  height: 100vh;
  background-image: url(./images/Mubleen_website_landscape_background_face_detection_image_afric_6978cfc6-f8e7-476d-bac0-f6b1dd60cb4b.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  z-index: -100;
}
@media only screen and (max-width: 750px) {
  .App{
    background-image: url(./images/Mubleen_website_landscape_background_face_detection_image_afric\ 2.0.jpg);
    background-color: var(--color-background);
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 100vh;
  }
  .nav{
    height: 15%;
  }
  .home{
    max-height: 73vh !important;
  }
  .home.class{
    height: 70%;
  }
  .home main{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 40%;
    margin: 0;
  }
  .action-screen{
    width: 100vw;
    height: 82vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .action-screen .input{
    width: 50%;
  }
  section.forms{
    width: 60%;
    height: 72vh;
  }
  .input.sign{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  section .forms{
    width: 100vw;
    height: 72vh;
  }
  nav div ul{
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
  }
  nav div ul .sign{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
  }
  .intro{
    max-width: 70vw;
  }
  .App .home.divs{
    display: flex;
    max-height: 79vh;
  }
  .zlatan{
    transform: scale(0);
  }
  .home.class main{
    margin: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 80vw;
  }
}
@media only screen and (max-width: 400px) {
  *{
    border: 2px solid white;
  }
  .App{
    background-image: url(./images/Mubleen_website_landscape_background_face_detection_image_afric\ 2.0.jpg);
    background-color: var(--color-background);
    background-repeat: no-repeat;
    background-size: contain;
    max-height: 100vh;
  }
  .nav{
    height: 15%;
  }
  .home{
    max-height: 73vh !important;
  }
  .home.class{
    height: 70%;
  }
  .home main{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 40%;
    margin: 0;
  }
  .action-screen{
    width: 100vw;
    height: 82vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .action-screen .forms{
    width: 70vw;
  }
  .action-screen .forms form{
    width: 10px !important;
    padding: 0;
    margin: 0;
  }
  .action-screen .forms form.input.signin{
    width: 100% !important;
    margin: 0;
    padding: 0 1rem;
    min-width: 100% !important;
  }
  .action-screen .forms form.input.signin div{
    padding: 0;
    margin-top: 1rem;
    width: 60vw;
  }
  .action-screen .forms form.input.signin label{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .action-screen .forms form.input.signin input{
    width: 70%;
    padding: 0;
    margin: 0;
  }
  .action-screen .input{
    width: 20%;
  }
  section.forms{
    width: 30%;
    height: 72vh;
  }
  .input.sign{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40vw;
  }
  section .forms{
    width: 80vw;
    height: 72vh;
  }
  nav div ul{
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
  }
  nav div ul .sign{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
  }
  .intro{
    max-width: 70vw;
  }
  .App .home.divs{
    display: flex;
    max-height: 79vh;
  }
  .zlatan{
    transform: scale(0);
  }
  .home.class main{
    margin: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 80vw;
  }
}


@media only screen and (min-width: 751px) {
  .action-screen{
    width: 100vw;
    height: 88vh;
  }
}
.nav{
  height: max-content !important;
}
.toggle{
  visibility: visible !important;
  transform: scale(1) !important;
  height: 100% !important;
  width: 20vw !important;
}
.nav nav .nav-adjust{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
.nav nav .nav-adjust .fas{
  /* position: absolute;s */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  right: -10px;
  font-size: 2rem;
}
.nav nav{
  display: flex;
  align-items: flex-start;
  justify-content: space-between !important;
  flex-direction: row;
}
nav i{
  cursor: pointer;
}
.home.divs{
  height: 90vh;
  color: #f0c600;
}
.foot, .nav{
  color: #f0c600;
}
nav ul{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; 
}
.sign{
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: row;
}
.nav-item{
  text-transform: uppercase;
  text-decoration: none;
  color: #f0c600;
  margin-right: 1.2rem;
}
.visible{
  visibility: visible;
  transform: scale(1);
}
.invisible{
  visibility: hidden;
  transform: scale(0);
  height: 0;
  width: 0;
}
.nav-item:hover{
  color: var(--color-blue);
  transition: .45s all;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
button.action{
  padding: 6px 16px;
  background-color: #d42c05;
  color: white;
  border-radius: 14px;
  border: none;
}
.home main{
  text-align: center;
  display: grid;
  grid-template-columns: 500px 1fr;
  height: 550px;
  margin-left: 3rem;
}
.intro{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.hero{
  /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
  font-family: cursive;
}
.tagline{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 1rem;
}
button{
  cursor: pointer;
}
button:hover{
  background-color: #1780af;
  color: white;
  transition: .6s all;
}
button.button.action .call{
  text-decoration: none;
  padding: .5rem 1.3rem;
  color: white;
}
.intro button.button{
  margin-top: 1rem;
}
div .input{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.home .input div{
  display: flex;
  justify-self: center;
  align-items: center;
  flex-direction: column;
}
.home .input div div{
  display: flex;
  flex-direction: row;
}
.input .url{
  flex: 1;
}
.input #imageUrl{
  min-width: 500px;
  height: 28px;
  border-radius: 50px;
  background-color: var(--color-blue);
  color: white;
}
.input #image-display{
  /* width: 500px; */
  /* min-height: 363px; */
  margin-right: 73px;
  /* max-height: 450px; */
}
.input .position{
  position: relative;
}
.boundingbox{
  position: absolute;
  box-shadow: 0 0 0 3px var(--color-blue) inset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;
  z-index: 5;
}
.forms{
  width: 100%;
  height: 89vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
form{
  min-width: 290px;
  box-shadow: 0px 0px 5px var(--color-yellow);
}
form.input{
  border:  3px solid var(--color-blue);
  background-color: var(--color-blue);
  color: white;
  margin-top: .5rem;
  padding: 0rem 3rem;
}
form.input input{
  width: 100%;
  border-radius: 4px;
}
label{
  width: 85%;
  margin: 0 1.5rem;
}
form.input div{
  margin-top: 1rem;
  width: 100%;
}
form .password{
  margin-bottom: 1rem;
}